<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"></meta>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1"></meta>
		
		<title>About Us| Band Template</title>
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet" type="text/css"></link>
		<link href="principal/fonts/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
		<!-- Loading main css file -->
		<link rel="stylesheet" href="principal/style.css"></link>
		<link rel="stylesheet" href="principal/css/styleTelaCadastro.css"></link>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>

	<body>
		
		<div id="site-content">			
			<header class="site-header">
				<div class="container">
					<a href="/" id="branding">
						<img src="principal/dummy/logo.png" alt="Site Title" height="100" width="300"></img>
					</a> <!-- #branding -->
					
					<nav class="main-navigation">
						<button type="button" class="toggle-menu"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="/">Home</a></li>
							
							<li class="menu-item" th:if="${usuarioLogado eq null}"><a href="login.html">Login</a></li>
							
							<li class="menu-item" ><a href="pesquisarcifras.html">Pesquisar</a></li>
							<li class="menu-item" ><a href="cadastrarcifras.html">Cadastrar</a></li>
							
							<li class="menu-item"><a href="contato.html">Contato</a></li>
							<li class="menu-item"><a href="sobre.html">Sobre</a></li>				
						</ul> <!-- .menu -->
					</nav> <!-- .main-navigation -->
					<div class="mobile-menu"></div>
					<div class="usuarioLogado" th:if="${usuarioLogado ne null}">
						<span th:text="${usuarioLogado.nome}"><a href="#">Sair</a></span>
					</div>
					
				</div>
			</header> <!-- .site-header -->
			
			<main>
				<div class="container">
					<fieldset>
						<h2>Cadastro de Cifras</h2>
						
						<span th:text="${mensagemCadastro}"></span>
						<form action="cadastrarCifra" method="post" enctype="multipart/form-data">
							<div class="form-group">
								<label for="nome" class="labels">Nome da música</label> 
								<input type="text" class="form-control" id="nome" name="nome" required="required"/>
							</div>
							
							<div class="form-group">
								<label for="tom" class="labels">Tom da música</label> 
							    <select class="form-control" id="tom" name="tom" required="required">
							        <option th:each="tomM : ${tons}"
							                th:value="${tomM.descricao}"
							                th:text="${tomM.descricao}"
							                th:selected="${tomM.equals(tom)}"/>
							    </select>
							</div>
							
							<div class="form-group">
								<label for="cantor" class="labels">Compositor/Cantor da música</label> 
								<input type="text" class="form-control" id="cantor" name="cantor" />
							</div>
							
							<div class="form-group">
								<label for="linkYouTube" class="labels">Link YouTube</label> 
								<input type="text" class="form-control" id="linkYouTube" name="linkYouTube"/>
							</div>
							
							<div class="form-group">
								<div class="input-group input-file" name="arquivo">
									<span class="input-group-btn">
						        		<button class="btn btn-danger btn-choose" type="button">Escolha</button>
						    		</span>
						    		<input type="text" class="form-control" placeholder='Escolha um arquivo...' />
						    		<span class="input-group-btn">
						       			 <button class="btn btn-warning btn-reset" type="button">Limpar</button>
						    		</span>
								</div>
							</div>
							
							<button type="submit" class="btn btn-default pull-right">Salvar</button>
						</form>	
					</fieldset>
				</div>
			</main>
			
			
			<footer class="site-footer">
				<div class="container">
					<img src="principal/dummy/logo.png" alt="Site Name" width="200" height="80"></img>
					
					<address>
						<p><a href="tel:24999413515">(24) 999413515</a> <br /> <a href="mailto:frbfla@gmail.com">frbfla@gmail.com</a></p> 
					</address> 
								
					<div class="social-links">
						<a href="#"><i class="fa fa-facebook-square"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>					
					</div> <!-- .social-links -->
					
					<p class="copy">Copyright 2018 Fast Manners. Designed by Themezy. All right reserved</p>
				</div>
			</footer> <!-- .site-footer -->

		</div> <!-- #site-content -->		

		<script src="principal/js/jquery-1.11.1.min.js"></script>	
		<script src="principal/js/plugins.js"></script>
		<script src="principal/js/app.js"></script>
		
	</body>

</html>