<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"></meta>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1"></meta>
		
		<title>Cifras Collection</title>
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet" type="text/css"></link>
		<link href="principal/fonts/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
		<!-- Loading main css file -->
		<link rel="stylesheet" href="principal/style.css"></link>
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>

	<body class="header-collapse">
		
		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="/" id="branding">
						<img src="principal/dummy/logo.png" alt="Site Title" height="100" width="300"></img>
					</a> <!-- #branding -->
					
					<nav class="main-navigation">
						<button type="button" class="toggle-menu"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="/">Home</a></li>
							
							<li class="menu-item" th:if="${usuarioLogado eq null}"><a href="login.html">Login</a></li>
							
							<li class="menu-item" th:if="${usuarioLogado ne null}"><a href="pesquisar.html">Pesquisar</a></li>
							<li class="menu-item" th:if="${usuarioLogado ne null}"><a href="cadastrar.html">Cadastrar</a></li>
							
							<li class="menu-item"><a href="contato.html">Contato</a></li>
							<li class="menu-item"><a href="sobre.html">Sobre</a></li>				
						</ul> <!-- .menu -->
					</nav> <!-- .main-navigation -->
					<div class="mobile-menu"></div>
					<div class="usuarioLogado" th:if="${usuarioLogado ne null}">
						<span th:text="${usuarioLogado.nome}"><a href="#">Sair</a></span>
					</div>
					
				</div>
			</header> <!-- .site-header -->
			
			<main>
				<div class="hero">
					<div class="slider">
						<ul class="slides">
							<li class="lazy-bg" data-background="principal/dummy/slide-1.jpg">
								<div class="container">
									<h2 class="slide-title">Cifras Collection</h2>
									<h3 class="slide-subtitle">O seu repositório de cifras online</h3>
									<p class="slide-desc">Armazene suas cifras e acesse de qualquer lugar de forma rápida e fácil...</p>
	
									<a href="sobre.html" class="button cut-corner">Leia mais</a>
								</div>
							</li>
							<li class="lazy-bg" data-background="principal/dummy/slide-2.jpg">
								<div class="container">
										<h2 class="slide-title">Cifras Collection</h2>
										<h3 class="slide-subtitle">O seu repositório de cifras online</h3>
										<p class="slide-desc">Site criado para auxiliar o armazenamento do aplicativo cifras collection, facilitando o download e upload de cifras e partituras para as contas pessoais dos usuários.</p>
	
										<a href="sobre.html" class="button cut-corner">Leia mais</a>
								</div>
							</li>
							<li class="lazy-bg" data-background="principal/dummy/slide-3.jpg">
								<div class="container">
										<h2 class="slide-title">Cifras Collection</h2>
										<h3 class="slide-subtitle">O seu repositório de cifras online</h3>
										<p class="slide-desc">Utilize o aplicativo mobile para visualizar suas cifras...</p>
	
										<a href="sobre.html" class="button cut-corner">Leia mais</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			
			</main>
			<footer class="site-footer">
				<div class="container">
					<img src="principal/dummy/logo.png" alt="Site Name" width="200" height="80"></img>
					
					<address>
						<p><a href="tel:24999413515">(24) 999413515</a> <br /> <a href="mailto:frbfla@gmail.com">frbfla@gmail.com</a></p> 
					</address> 
								
					<div class="social-links">
						<a href="#"><i class="fa fa-facebook-square"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>					
					</div> <!-- .social-links -->
					
					<p class="copy">Copyright 2018 Fast Manners. Designed by Themezy. All right reserved</p>
				</div>
			</footer> <!-- .site-footer -->

		</div> <!-- #site-content -->

		<script src="principal/js/jquery-1.11.1.min.js"></script>		
		<script src="principal/js/plugins.js"></script>
		<script src="principal/js/app.js"></script>
		
	</body>

</html>