body {
	background: black;
  	font-family: 'Titillium Web', sans-serif;
  	background-image: url("../dummy/slide-1.jpg");
 	background-repeat: repeat;
 	height: 949px; 
}

h2 {
	text-align: center !important;
	color: #FD5927 !important;
	font-style: italic;
}

.labels {
	text-align: justify;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

input {
	background-color: black;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
}

form {
	margin: 5px;
	
}

span {
	color: #848484;
}

p {
	color: grey;
}

.site-footer p{
	color: #848484;
}

tr{
	color: #E8E8E8;	
	font-size: 14px;
}

td {
	font-size: 14px !important;
}
.table-extra {
	border: 1px !important;
}

select {
	background: #353535 !important;
    display: block;
    width: 100%;
    padding: 15px;
    color: #999999 !important;
    margin-bottom: 10px;
    border: none !important; 

}


