<div th:fragment="footer">
	<div class="container">
		<img src="principal/dummy/logo.png" alt="Site Name" width="200"
			height="80"></img>

		<address>
			<p>
				<a href="tel:24999413515">(24) 999413515</a> <br /> <a
					href="mailto:frbfla@gmail.com">frbfla@gmail.com</a>
			</p>
		</address>

		<div class="social-links">
			<a href="#"><i class="fa fa-facebook-square"></i></a> <a href="#"><i
				class="fa fa-twitter"></i></a>
		</div>
		<!-- .social-links -->

		<p class="copy">Copyright 2018 Fast Manners. Designed by frbfla.
			All right reserved</p>
	</div>
</div>