<div th:fragment="header">
	<div class="container">
		<a href="/" id="branding"> <img src="principal/dummy/logo.png"
			alt="Cifras Collection" height="100" width="300"></img>
		</a>
		<!-- #branding -->

		<nav class="main-navigation">
			<button type="button" class="toggle-menu">
				<i class="fa fa-bars"></i>
			</button>
			<ul class="menu">
				<li class="menu-item current-menu-item"><a href="/">Home</a></li>

				<li class="menu-item" th:if="${session.usuarioLogado eq null}"><a
					href="login.html">Login</a></li>

				<li class="menu-item" th:if="${session.usuarioLogado ne null}"><a href="pesquisarcifras.html">Pesquisar</a></li>
				<li class="menu-item" th:if="${session.usuarioLogado ne null}"><a href="cadastrarcifras.html">Cadastrar</a></li>

				<li class="menu-item"><a href="contato.html">Contato</a></li>
				<li class="menu-item"><a href="sobre.html">Sobre</a></li>
			</ul>
			<!-- .menu -->
		</nav>
		
		<div class="mobile-menu"></div>
		<div class="usuarioLogado" th:if="${session.usuarioLogado ne null}">
			<span th:text="${session.usuarioLogado.nome}"><a href="#">Sair</a></span>
		</div>

	</div>
</div>